@import './vendor/include-media';

$breakpoints: (
  'phone': 480px,
  'tablet': 801px,
  'desktop': 1124px,
);

$max-width: 1000px;
$max-width-small: 600px;

// $rem-size: calc(14px + 0.7vmin);
$rem-size: calc(12px + 0.7vmin);
$line-height: 1.35;

// COLORS //

$color-grey: #d1d1d1;
$color-white: #fff;

$color-primary: $color-grey;

$font-color-darkest: rgba(3, 0, 0, 0.94);
$font-color-darker: rgba(0, 0, 0, 0.8);
$font-color-dark: rgba(0, 0, 0, 0.72);
$font-color-dark-light: rgba(0, 0, 0, 0.6);

$font-color-lightest: rgba(255, 253, 253, 0.94);
$font-color-lighter: rgba(255, 255, 255, 0.8);
$font-color-light: rgba(255, 255, 255, 0.72);
  
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

$smallSpacing: 1rem;
$spacing: 1rem;
$largeSpacing: 10vw;

$font: 'Montserrat', 'Open Sans', sans-serif;
// $font-heading: 'Open Sans', sans-serif;

$box-shadow-dreamy: 0 0.04rem 0.08rem rgba(0, 0, 0, 0.07),
0 0.08rem 0.16rem rgba(0, 0, 0, 0.07),
0 0.16rem 0.32rem rgba(0, 0, 0, 0.07),
0 0.32rem 0.64rem rgba(0, 0, 0, 0.07),
0 0.64rem 1.28rem rgba(0, 0, 0, 0.07),
0 1.28rem 2.4rem rgba(0, 0, 0, 0.07);

$box-shadow-dreamy-light: 0 0.04rem 0.08rem rgba(0, 0, 0, 0.04),
0 0.08rem 0.16rem rgba(0, 0, 0, 0.04),
0 0.16rem 0.32rem rgba(0, 0, 0, 0.04),
0 0.32rem 0.64rem rgba(0, 0, 0, 0.04),
0 0.64rem 1.28rem rgba(0, 0, 0, 0.04);

$box-shadow-inset-dreamy: inset 0 0.04rem 0.08rem rgba(0, 0, 0, 0.07),
inset 0 0.08rem 0.16rem rgba(0, 0, 0, 0.07),
inset 0 0.16rem 0.32rem rgba(0, 0, 0, 0.07),
inset 0 0.32rem 0.64rem rgba(0, 0, 0, 0.07),
inset 0 0.64rem 1.28rem rgba(0, 0, 0, 0.07),
inset 0 1.28rem 2.4rem rgba(0, 0, 0, 0.07);
